<div class="content">
  <img src="{{meme.memePath}}" alt=""/>
  <h3>{{meme.memeName}}</h3>
  <p> {{meme.memeDescription}}</p>
  <button><a href="{{meme.memePath}}" download="{{meme.memePath}}" >Download Meme</a></button><br>
  <button><a href="/deleteMeme/{{meme.id}}" >Delete Meme</a></button>
</div>